/*Nav bar style*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
  }
  
  li {
    float: left;
    
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #666;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    color: #aea8a8;
    background-color: #111;
  }


/*Etablir ce qui doit rester*/

  #root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  
 
  header {
    font-size: 3.2em;
    line-height: 1.1;
    background-color: #aea8a8;
    width: 100%;
    height: 70px;
    color: #353535; 
    font-family: "Lucida Console", "Courier New", monospace;
  }

  div {
    font-family: "Lucida Console", "Courier New", monospace;
    position: absolute;     
    text-align: center;    
     
    width: 100%;
  }
  
  h1 {
    font-size: 3.2em;
    line-height: 1.1;
    width: 100%;
    height: 70px;
    color: #353535; 
    font-family: "Lucida Console", "Courier New", monospace;
  }

  
  
  div.footer {
    position: absolute;     
    text-align: center;    
    bottom: 0;
    right: 0;
    left: 0;  
  }